# Mac OS Folder #
#################
.DS_Store

# Coverage directory used by tools like Istanbul #
##################################################
coverage/

# Dependency directory #
########################
node_modules/
